root = true

[*.{js,ts,tsx,jsx,vue,json,css,scss,less,html,md,yml,yaml,xml,properties,sql,java,kt,txt,env,sh,ps1,bat,cmd}]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 2

[*.java]
indent_size = 4
